
dotnet/practical-assignment-1/Assignment 1/.vs/*
dotnet/practical-assignment-1/Assignment 1/bin/*
dotnet/practical-assignment-1/Assignment 1/obj/*



dotnet/practical-assignment-3/Assignment 3 Q1/.vs/*
dotnet/practical-assignment-3/Assignment 3 Q1/bin/*
dotnet/practical-assignment-3/Assignment 3 Q1/obj/*


dotnet/practical-assignment-3/Assignment 3 Q2/.vs/*
dotnet/practical-assignment-3/Assignment 3 Q2/bin/*
dotnet/practical-assignment-3/Assignment 3 Q2/obj/*


dotnet/practical-assignment-3/Assignment 3 Q3/.vs/*
dotnet/practical-assignment-3/Assignment 3 Q3/bin/*
dotnet/practical-assignment-3/Assignment 3 Q3/obj/*


dotnet/practical-assignment-3/Assignment 3 Q4/.vs/*
dotnet/practical-assignment-3/Assignment 3 Q4/bin/*
dotnet/practical-assignment-3/Assignment 3 Q4/obj/*



